body{
    font-family: Arial, Helvetica, sans-serif;          /* Define el tipo de letra que utilizará la página. */
    background-color: skyblue;                        /* Establece un color celeste como fondo. */
    margin: 0;                                          /* Elimina los márgenes predeterminados del navegador. */

}

/* Menú */
.navbar{                                        /* NAVBAR: Es la barra de navegación principal. Sirve para contener los enlaces del menú. */
    background-color: #2a75bb;                /* Asigna un color azul de fondo. */
    padding: 15px;                              /* Agrega espacio interno alrededor del menú. */
}
