body{
    font-family: Arial, Helvetica, sans-serif;          /* Define el tipo de letra que utilizará la página. */
    background-color: skyblue;                        /* Establece un color celeste como fondo. */
    margin: 0;                                          /* Elimina los márgenes predeterminados del navegador. */

}
