body{
    font-family: Arial, Helvetica, sans-serif;            /* Define el tipo de letra que se mostrará en la página. */
    display: flex;                                        /* Activa Flexbox para organizar los elementos. */
    justify-content: center;                              /* Centra horizontalmente el contenido. */
    background-color: skyblue;                            /* Establece un color de fondo celeste. */
    margin: 0;                                            /* Elimina los márgenes predeterminados del navegador. */
    min-height: 100vh;                                    /* Hace que el cuerpo ocupe como mínimo toda la altura de la ventana. */
}

nav{
    background-color: #2a75bb;
    padding: 15px 0;


nav ul{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;

}

