body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: skyblue;
    margin: 0;
    
}

/* barra */
nav{
    background-color: #2a75bb;
    padding: 15px;                      /* Hace que el color azul ocupe toda la barra de nav. */

}

/* lista */
nav ul{
    list-style: none;                   /* Elimina las viñetas */
    margin: 0;                          /* Elimina las margenes externos */
    padding: 0;                         /* Elimina espacios internos */
    text-align: center;
    
}

/* cada elemento */
nav ul li{
    display: inline;
    margin: 20px;
}

/* enlaces */
nav ul li a{
    color: white;
    text-decoration: none;              /* Elimina el subrayado */
    font-size: 18px;
    
}


nav ul li a:hover{
    color: yellow;

}


section{
    text-align: center;
    padding: 20px;                      /* Con el padding agregamos especio alrededor */
    
}

h1{
    color: #2a75bb;
    
}


h2{
    color: #2a75bb;
}

p{
    font-size: 18px;
    color: #333333;

}

img{
    width: 400px;
    margin-top: 20px;                   /* Espacio entre texto e imagen */ 
}

footer{
    background-color: #2a75bb;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;                   /* separa el footer del contenido de la página */
  
}

footer p{
    margin: 5px;
    font-size: 16px;
    color: white;

    
}

