body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: skyblue;
    margin: 0;

}

nav{
    background-color: #2a75bb;
    padding: 15px;
    
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    
}


nav ul li{
    display: inline;
    margin: 20px;           /* en este caso el margin crea separacion entre cada elemento */

}


nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;

}


nav ul li a:hover{
    color: yellow;
}

section{
    text-align: center;
    padding: 20px;
    
}

h1{
    color: #2a75bb;

}


p{
    font-size: 18px;
    color: #333333;

}


.cards{ 
    display: grid;                          /* organizar elementos */                  
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 20px;                  /* espacio entre tarjetas */
    padding: 20px;

}


.card{
    background-color: white;
    border: 2px solid #2a75bb;              
    padding: 15px;
    text-align: center;
    border-radius: 10px;            /* redondeo esquinas */
    
}


.card img{
    width: 180px;

}


.card h2{
    color: #2a75bb;

}

.card h4{
    color: #666;
}


.card p{
    font-size: 15px;
    text-align: justify;
    color: #666;

}

.card{
    transition: 0.3s;
}

.card:hover{
    transform: scale(1.05);                 /* 5% */
    box-shadow: 10px 10px 15px gray;
}


footer{
    background-color: #2a75bb;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;

}

footer p{
    margin: 5px;
    font-size: 16px;
    color: white;
    
}

